<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
<div th:insert="common/header :: header"></div>
<div th:insert="common/menu :: menu"></div>
<div class="w3-main w3-theme-l4">
    <div class="w3-container w3-theme w3-padding-32">
                    <h1 th:text="${title}"></h1>

        <div class="w3-large w3-padding w3-margin">
            Electric guitar is fantastic musical instrument. If you can learn to play it that's great but I think for as a conductor it would be even better.

            What is a risk that getting involved with a group like ABBA can impose on the personal journey of your solo projects?

            I don't think I'm particularly concerned about risk because I think that every artist has some sort of risk so you have to worry about your risk and so you can't go in, to have such an image that you don't know what's going to happen and I think a lot of it comes from this and that's that I can do what I do without the limitations of having to dance around a room to these music. But because there's such a grand narrative
        </div>
    </div>

    <div class="w3-container w3-text-theme main-content w3-theme-l3">



        <div class="w3-dropdown-hover">
            <div class="w3-button">Sort by price</div>
            <div class="w3-dropdown-content w3-bar-blocked w3-border">
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">Cheap first</a>
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">Expensive first</a>

            </div>
        </div>

        <div class="w3-dropdown-hover">
            <div class="w3-button">Sort by name</div>
            <div class="w3-dropdown-content w3-bar-blocked w3-border">
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">A-Z</a>
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">Z-A</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <div class="w3-button">Sort by date</div>
            <div class="w3-dropdown-content w3-bar-blocked w3-border">
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">New first</a>
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">Old first</a>
            </div>
        </div>

        <div class="w3-dropdown-hover w3-right">
            <div class="w3-button">Number of elements on page</div>
            <div class="w3-dropdown-content w3-bar-blocked w3-border" style="right: 0;">
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">10 elements</a>
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">20 elements</a>
                <a href="#" class="w3-bar-item w3-button" style="width: 100%;">3o elements</a>
            </div>
        </div>

        <div class="w3-row">

            <div th:each="product : ${products}">
            <div class="w3-col m3 w3-margin">
                    <div class="w3-card-4 product-card w3-display-container w3-theme-l4">
                        <div th:if="${product.getImage() != null}">
                            <img th:src="'/img/' + ${product.getImage()}" width="160" class="w3-margin">
                        </div>
                        <div th:if="${product.getImage() == null}">
                            <img th:src="'/img/default.png'" width="230" class="w3-margin">
                        </div>
                        <div class="w3-container w3-display-bottomleft" style="width: 100%;">
                            <p class="w3-large" th:text="${product.getName()}"></p>
                            <p class="w3-xlarge" th:text="${product.getPrice()}"></p>
                        </div>

                </div>
            </div>
            </div>


            <br>

            <div class="w3-bar">
                <a th:href=" @{${urlBegin} + '?page=' + ${prev} + '&size=' + ${size} }" class="w3-button">&laquo</a>
                <a th:each="p : ${pageable}">
                    <a th:href="@{${urlBegin} + '?page=' + ${p} + '&size=' + ${size}}" th:text="${p}" class="w3-button"></a>
                </a>
                <a th:href=" @{${urlBegin} + '?page=' + ${next} + '&size=' + ${size} }" class="w3-button">&raquo</a>
            </div>

        </div>

    </div>
    <div th:insert="common/footer :: footer"></div>
</div>

</body>
</html>