<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
</head>
<body>
<div th:insert="common/header :: customer"></div>
<div th:insert="common/menu :: customer"></div>

<div class="w3-main w3-theme-l4">
    <div th:insert="common/account :: banner"></div>
    <div class="w3-container w3-text-theme main-content">
        <div th:insert="common/account :: logout"></div>
        <div th:insert="common/account :: edit"></div>
        <div th:insert="common/account :: passwords"></div>

        <h2 class="w3-text-theme">Order history</h2>
        <table class="w3-table-all w3-hoverable w3-card-4">
            <tr class="w3-theme-l3 w3-text-theme">
                <th>№</th>
                <th>Order number</th>
                <th>Date</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>11.01.17</td>
                <td>15 $</td>
                <td>In progress</td>
            </tr>
            <tr>
                <td>2</td>
                <td>34561</td>
                <td>14.08.15</td>
                <td>670 $</td>
                <td>Executed</td>
            </tr>
            <tr>
                <td>3</td>
                <td>91732</td>
                <td>14.03.15</td>
                <td>176 $</td>
                <td>Executed</td>
            </tr>
            <tr>
                <td>4</td>
                <td>323341</td>
                <td>12.01.15</td>
                <td>67 $</td>
                <td>Executed</td>
            </tr>
            <tr>
                <td>5</td>
                <td>32981</td>
                <td>17.11.14</td>
                <td>73 $</td>
                <td>Executed</td>
            </tr>
            <tr>
                <td>6</td>
                <td>33463</td>
                <td>14.09.14</td>
                <td>153 $</td>
                <td>Executed</td>
            </tr>
        </table>
    </div>
    <div th:insert="common/footer :: footer"></div>
</div>
</body>
</html>