<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
</head>
<body>
<div th:insert="common/header :: customer"></div>
<div th:insert="common/menu :: customer"></div>

<div class="w3-main w3-theme-l4">
    <div th:insert="common/account :: banner"></div>
    <div class="w3-container w3-text-theme main-content">
        <div th:insert="common/account :: logout"></div>
        <div th:insert="common/account :: edit"></div>
        <div th:insert="common/account :: passwords"></div>

        <h2 class="w3-text-theme">Order history</h2>
        <div th:if="${emptyHistory}" class="w3-display-container">
            <h3 class="w3-text-theme">You have no orders yet. Let's go shopping</h3>
            <img th:src="'/img/empty-history.png'" style="width: 600px">
            <a class="w3-btn w3-round-large w3-theme-l3 w3-display-bottomleft w3-margin" th:href="@{/}">Go shopping</a>

        </div>
        <div th:if="${!emptyHistory}">
            <table class="w3-table w3-hoverable w3-card">
                <tr class="w3-theme-l3 w3-text-theme">
                    <th>№</th>
                    <th>Order number</th>
                    <th>Date</th>
                    <th>Cost</th>
                    <th>Delivery</th>
                    <th>Status</th>
                </tr>
                <tr th:each="order, iter : ${orders}">
                    <td th:text="${iter.count}"></td>
                    <td th:text="${order.getId()}"></td>
                    <td th:text="${order.getDate()}"></td>
                    <td th:text="${order.getTotal()}"></td>
                    <td th:text="${order.getDelivery().getName()}"></td>
                    <td th:if="${order.isExecuted()}">Executed</td>
                    <td th:if="${!order.isExecuted()}">In Progress</td>
                </tr>
            </table>
        </div>
    </div>
    <div th:insert="common/footer :: footer"></div>
</div>
</body>
</html>