<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
</head>
<body>
<div th:insert="common/header :: customer"></div>
<div th:insert="common/menu :: customer"></div>
<div class="w3-main w3-theme-l4">
    <div class="w3-container w3-theme w3-padding-32">
        <h2>Cart</h2>
        <div class="w3-large w3-padding w3-margin">
            Thank for your choice. Sure you'll like our guitars.  They're based on Gibson's '56 and '57 archtop models, which are considered pretty famous (they do have popularity ratings in the teens).  A few years ago I bought a '57 for $29. I'm sure we can rock out with them.
            The guitars are turned and then laminated (like your board) by hand. The top is laminated first and then the back is turned by hand.  That's why the guitars have extremely heavy layers of material in them.  The '57 and '56 have very different top laminate, so it's harder to get the white color to look good. (Although it does come out nice with a
        </div>
    </div>
    <div class="w3-container w3-text-theme main-content">
        <div th:if="${items.isEmpty()}">
            <img th:src="'/img/empty-cart.png'">
            <br>
            <h2 class="w3-text-theme">Your cart is empty</h2>
            <p class="w3-text-theme">Lets go shopping and choose new guitar!</p>
            <a class="w3-btn w3-margin w3-theme-l2 w3-round-large" th:href="@{/}">Go shopping</a>
        </div>
        <div th:if="${!items.isEmpty()}">
            <a class="w3-btn w3-margin w3-theme" th:href="@{/cart/clear}">Clear cart</a>

            <table class="w3-table-all w3-margin">
                <tr>
                    <th>№</th><th>Image</th><th>Name</th>
                    <th>Price</th><th>Quantity</th><th>Cost</th><th>Delete</th>
                </tr>

                <tr th:each="item, iter : ${items}">
                    <td th:utext="${iter.count}"></td>
                    <td>
                        <img th:src="'/img/' + ${item.getProduct().getImage()}" style="width: 60px">
                    </td>
                    <td th:text="${item.getProduct().getName()}"></td>
                    <td th:text="${item.getProduct().getPrice()}"></td>
                    <td>
                        <form th:action="@{'/cart/update/' + ${item.getId()}}" method="post">
                            <div class="w3-row">
                                <input type="number" class="w3-input w3-border w3-col m8" th:value="${item.getQuantity()}" name="quantity">
                                <input type="submit" class="w3-btn w3-theme-l2 w3-col m4" value="update">
                            </div>
                        </form>
                    </td>
                    <td th:text="${item.getProduct().getPrice() * item.getQuantity()}"></td>
                    <td><a class="w3-btn material-icons" th:href="@{'/cart/delete/' + ${item.getId()}}">delete</a></td>
                </tr>
            </table>
            <h2 class="w3-text-theme">Total:</h2>
            <p th:text="${total}"></p>
            <a href="#" class="w3-btn w3-theme">Place an order</a>
            <a href="/" class="w3-btn w3-theme">Back to shop</a>
        </div>
    </div>
    <div th:insert="common/footer :: footer"></div>
</div>
</body>
</html>