<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
<div th:insert="common/header :: customer"></div>
<div th:insert="common/menu :: customer"></div>

<div class="w3-main w3-theme-l4">
    <div class="w3-container w3-text-theme main-content w3-theme">
        <div class="w3-row">
            <div class="w3-col m4">
                <img class="w3-opacity-min" th:src="'/img/'+${product.getImage()}" style="height: 600px;">
            </div>
            <div class="w3-col m8" style="color:#d5d6de  ;">
                <h1 class="w3-margin" th:text="${product.getName()}"></h1>
                <p class="w3-large" th:text="${product.getDescription()}"></p>
            </div>
        </div>
    </div>
    <div class="w3-container">
        <h2 class="w3-text-theme">Characteristics:</h2>
        <div th:each="c : ${characteristics}">
            <div class="w3-large w3-margin" th:text="${c}"></div>
        </div>
        <div class="w3-theme-l1" style="height: 2px;"></div>
        <div class="w3-row w3-large">
            <div class="w3-col m6">
                <div th:text="'Producer: ' + ${product.getProducer()}"></div>
                <div th:if="${product.isAvailable()}">
                    <p>Available</p>
                </div>
                <div th:if="${!product.isAvailable()}">
                    <p>Is not available</p>
                </div>
            </div>
            <div class="w3-col m6 w3-right-align">
                <h2 class="w3-text-theme" th:text="${product.getPrice() + ' $'}"></h2>
                <a class="w3-btn w3-theme w3-margin" th:href="@{'/cart/add/' + ${product.getId()}}">Buy</a>
            </div>
        </div>
    </div>
</div>
    <div th:insert="common/footer :: footer"></div>
</div>
</body>
</html>