<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="edit">
    <form class="w3-container w3-card-4 w3-margin" th:action="@{/account/edit}" method="post">
        <h2>Account information</h2>
        <div class="w3-section">
            <label>Email:</label>
            <input type="email" class="w3-input w3-border" th:value="${user.getEmail()}" required name="email">
            <label>Name</label>
            <input type="text" class="w3-input w3-border" th:value="${user.getName()}" required name="name">
            <label>Surname</label>
            <input type="text" class="w3-input w3-border" th:value="${user.getSurname()}" required name="surname">
            <label>Phone</label>
            <input type="tel" class="w3-input w3-border" th:value="${user.getPhone()}" required name="phone">
            <label>Date of birth</label>
            <input type="date" class="w3-input w3-border" th:value="${user.getDateOfBirth()}" name="dateOfBirth">
            <br>
            <button type="submit" class="w3-btn w3-theme">Save changes</button>
        </div>
    </form>
</div>

<div th:fragment="passwords">
    <form class="w3-container w3-card-4 w3-margin" th:action="@{/account/password}" method="post">
        <h2>Change password</h2>
        <div class="w3-section">
            <label>Current password</label>
            <input type="password" class="w3-input w3-border" name="currentPassword">
            <label>New password</label>
            <input type="password" class="w3-input w3-border" name="password">
            <label>Repeat password</label>
            <input type="password" class="w3-input w3-border" name="passwordCheck">
            <br>
            <button type="submit" class="w3-btn w3-theme">Ok</button>
        </div>
    </form>
</div>

<div th:fragment="banner">
    <div class="w3-container w3-theme w3-padding-32">
        <div th:if="${hasMessage}">
            <div th:replace="common/info-box :: info (hasMessage=${hasMessage}, color=${color}, title=${title}, message=${message})"></div>
        </div>
        <h1>Account</h1>
        <div class="w3-large w3-padding-32 w3-margin">
            It's account info. You can change it whenever you want. Don't allow people to browse the site from your computer, or they'll look for private chat rooms."
        </div>
    </div>
</div>

<div th:fragment="logout">
    <div class="w3-row">
        <div class="w3-col m6">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="w3-btn w3-theme w3-margin" value="Sign Out"/>
            </form>
        </div>
        <div class="w3-col m6">
            <form th:action="@{/account/delete}" method="post">
                <input type="submit" class="w3-btn w3-theme w3-margin" value="Delete account"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>