<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="w3-top" style="z-index: 4;">
        <div class="w3-bar w3-theme-d5 w3-top w3-large">
            <div class="w3-bar-item w3-button w3-xlarge material-icons">home</div>
            <a href="#" class="w3-bar-item w3-button">electric guitars</a    >
            <a href="#" class="w3-bar-item w3-button">acoustic guitars</a>
            <a href="#" class="w3-bar-item w3-button">bass guitars</a>
            <a href="#" class="w3-bar-item w3-button">amplifiers</a>
            <a href="#" class="w3-bar-item w3-button">accessories</a>
            <a href="#" class="w3-bar-item w3-button w3-right material-icons">account_circle</a>
            <a href="#" class="w3-bar-item w3-button w3-right material-icons">shopping_cart</a>
        </div>
        <div class="w3-container w3-theme-d3 w3-padding-16">
            <br>
            <h2 style="color: #aaadbd">Guitar shop</h2>
        </div>
    </div>
</div>
</body>
</html>