<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="w3-top" style="z-index: 4;">
        <div class="w3-bar w3-theme-d5 w3-top w3-large">
            <a class="w3-bar-item w3-button w3-xlarge material-icons" href="/">home</a>
            <a href="/products/electric" class="w3-bar-item w3-button">electric guitars</a    >
            <a href="/products/acoustic" class="w3-bar-item w3-button">acoustic guitars</a>
            <a href="/products/bass" class="w3-bar-item w3-button">bass guitars</a>
            <a href="/products/amplifiers" class="w3-bar-item w3-button">amplifiers</a>
            <a href="/products/accessories" class="w3-bar-item w3-button">accessories</a>
            <!--Fake login -->
            <a href="#" class="w3-bar-item w3-button w3-right material-icons" onclick="document.getElementById('login-modal').style.display='block'">account_circle</a>
            <a href="#" class="w3-bar-item w3-button w3-right material-icons" onclick="document.getElementById('login-modal').style.display='block'">shopping_cart</a>
        </div>
        <div class="w3-container w3-theme-d3 w3-padding-16">
            <br>
            <h2 style="color: #aaadbd">Guitar shop</h2>
        </div>
    </div>
    <div th:insert="common/login-modal :: login"></div>
    <div th:insert="common/reg-modal :: reg"></div>
</div>
</body>
</html>